@use '../abstracts/variables' as var;
@use '../themes/default-theme' as theme;

body {
  font-family: sans-serif;
  font-size: var.$default-font-size;
  font-weight: 400;
  line-height: 1.7;
  color: theme.$color-default-text;
}