<div class="query-page">
  <div class="resources" phx-hook="resourcesPopupButton">
    <input type="checkbox" class="resources__button-checkbox" id="resources-toggle">
    <label for="resources-toggle" class="resources__button-popup" id="resources-button-popup">
      <span class="resources__button-popup-text">resources</span>
    </label>
    <div class="resources__content">
      <%= live_component @socket, ResourceLive.Index, id: "resources" %>
    </div>
  </div>

  <div class="query-edit">
    <div class="query-edit__left">
      <div class="query-form">
        <%= live_component @socket, QueryLive.Form, assigns %>
      </div>
    </div>
    <div class="query-edit__right">
      <div class="query-result">
        <div class="query-result__title">
          Results
        </div>
        <div>
          <%= live_component @socket, QueryLive.Result, assigns %>
        </div>
      </div>
    </div>
  </div>

  <div class="query-page__button-round query-page__button-round--left-bottom">
    <%=
      live_patch(
        "arrow_back",
        to: Routes.live_path(@socket, QueryLive.Index),
        class: "query-page__button-round__link material-icons"
      )
    %>
  </div>
</div>
