<div class="query-form">
  <%= form_for @changeset, @action, fn f -> %>
    <%= if @changeset.action do %>
      <div>
        <p>Oops, something went wrong! Please check the errors below.</p>
      </div>
    <% end %>

    <%= text_input f, :name, class: "query-form__name" %>
    <%= error_tag f, :name %>

    <%= textarea f, :query, class: "query-form__textarea" %>
    <%= error_tag f, :query %>

      <div class="fab fab__left">
    <div class="mdc-fab__ripple">
      <%= link "arrow_back", to: Routes.query_path(@conn, :index), class: "mdc-fab mdc-fab__icon material-icons" %>
    </div>
  </div>

  <div class="query-form__actions">
    <button class="mdc-icon-button material-icons query-form__action-button">rowing</button>
    <%= submit "save", class: "mdc-icon-button material-icons query-form__action-button" %>
  </div>

  <% end %>
</div>
