<div class="query-page">
  <h1>Queries</h1>
  <div phx-click="lv:clear-flash">
    <p><%= live_flash(@flash, :info) %></p>
    <p><%= live_flash(@flash, :error) %></p>
  </div>
  <div class="mdc-data-table">
    <table class="mdc-data-table__table query-table">
      <thead>
        <tr class="mdc-data-table__header-row">
          <th class="mdc-data-table__header-cell query-table__cell-header query-table__cell-first" role="columnheader" scope="col">Name</th>
          <th class="mdc-data-table__header-cell query-table__cell-header" role="columnheader" scope="col">Query</th>
          <th class="mdc-data-table__header-cell query-table__cell-last" role="columnheader" scope="col"></th>
        </tr>
      </thead>
      <tbody class="mdc-data-table__content">
        <%= for query <- @queries do %>
        <tr class="mdc-data-table__row">
          <td class="mdc-data-table__cell query-table__cell query-table__cell-first"><%= query.name %></td>
          <td class="mdc-data-table__cell query-table__cell"><%= query.query %></td>
          <td class="mdc-data-table__cell query-table__cell-last">
            <span><%= live_redirect "create", to: Routes.live_path(@socket, QueryLive.Edit, query.id), class: "material-icons mdc-icon-button"%></span>
            <span><button phx-click="delete_query" phx-value-id="<%= query.id %>" class="material-icons mdc-icon-button">delete</button></span>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

<div class="fab fab__right">
  <div class="mdc-fab__ripple">
    <%= live_redirect "add", to: Routes.live_path(@socket, QueryLive.New), class: "mdc-fab mdc-fab__icon material-icons" %>
  </div>
</div>

</div>
