<div class="queries-page">
  <h1>Queries</h1>
  <div phx-click="lv:clear-flash">
    <p><%= live_flash(@flash, :info) %></p>
    <p><%= live_flash(@flash, :error) %></p>
  </div>
  <div class="queries-list">
    <div class="queries-list__row queries-list__row-header">
      <div class="queries-list__item queries-list__name queries-list__header">Name</div>
      <div class="queries-list__item queries-list__query queries-list__header">Query</div>
      <div class="queries-list__item queries-list__actions queries-list__header"></div>
    </div>
    <ul class="queries-list__content">
      <%= for query <- @queries do %>
      <li class="queries-list__list-item">
        <div class="queries-list__row">
          <div class="queries-list__item queries-list__name"><%= query.name %></div>
          <div class="queries-list__item queries-list__query"><%= query.query %></div>
          <div class="queries-list__item queries-list__actions">
            <span><%= live_redirect "create", to: Routes.live_path(@socket, QueryLive.Edit, query.id), class: "button-row-action-icon material-icons"%></span>
            <span><button phx-click="delete_query" phx-value-id="<%= query.id %>" class="button-row-action-icon material-icons">delete</button></span>
          </div>
        </div>
      </li>
      <% end %>
    </ul>
  </div>

  <div class="queries-add">
    <input type="checkbox" class="queries-add__button-checkbox" id="queries-add-toggle">
    <label for="queries-add-toggle" class="queries-add__button-round queries-add__button-round--right-bottom">
      <span class="queries-add__button-round-icon">&nbsp;</span>
    </label>
    <div class="queries-add__background">&nbsp;</div>
    <div class="queries-add__form">
      <form phx-submit="add_query" phx-change="validate_query">
        <input
          type="text"
          class="queries-add__form-name"
          placeholder="Enter query name"
          name="name">
        <button type="submit" class="queries-add__form-submit button-form">
          submit
        </button>
      </form>
    </div>
  </div>
</div>
