<div class="queries-page">
  <h1>Queries</h1>
  <div phx-click="lv:clear-flash">
    <p><%= live_flash(@flash, :info) %></p>
    <p><%= live_flash(@flash, :error) %></p>
  </div>
  <div class="queries-list">
    <div class="queries-list__row queries-list__row-header">
      <div class="queries-list__item queries-list__name queries-list__header">Name</div>
      <div class="queries-list__item queries-list__query queries-list__header">Query</div>
      <div class="queries-list__item queries-list__actions queries-list__header"></div>
    </div>
    <ul class="queries-list__content">
      <%= for query <- @queries do %>
      <li class="queries-list__list-item">
        <div class="queries-list__row">
          <div class="queries-list__item queries-list__name"><%= query.name %></div>
          <div class="queries-list__item queries-list__query"><%= query.query %></div>
          <div class="queries-list__item queries-list__actions">
            <span><%= live_redirect "create", to: Routes.live_path(@socket, QueryLive.Edit, query.id), class: "button-row-action-icon material-icons"%></span>
            <span><button phx-click="delete_query" phx-value-id="<%= query.id %>" class="button-row-action-icon material-icons">delete</button></span>
          </div>
        </div>
      </li>
      <% end %>
    </ul>
  </div>

  <div class="button-round button-round__right-bottom">
      <%= live_redirect "add", to: Routes.live_path(@socket, QueryLive.New), class: "button-round__link material-icons" %>
  </div>

</div>
