<aside class="mdc-drawer mdc-top-app-bar--fixed-adjust">
      <div class="mdc-drawer__header">
        <h1>Queries</h1>
      </div>
      <div class="mdc-drawer__content">
        <div class="mdc-list">
          <a class="mdc-list-item mdc-list-item--activated" aria-selected="page" href="#">
            <span class="mdc-list-item__text">First Item</span>
          </a>
          <a class="mdc-list-item" href="#">
            <span class="mdc-list-item__text">Second Item</span>
          </a>
        </div>
      </div>
    </aside>

    <div class="mdc-drawer-app-content mdc-top-app-bar--fixed-adjust">
      <main role="main" class="main-content" id="main-content">
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div>
