<div class="query-page">
  <h1>New Query</h1>

  <div class="query-edit">
    <div class="query-edit__left">
      <div class="query-form">
        <%= live_component @socket, QueryLive.Form, assigns %>
      </div>
    </div>
  </div>
</div>
</div>
