// Colors
$color-primary: #4bb0f9;
$color-secondary: #eaf4fa;
$color-background: #fff;
$color-background-highlight: rgba(0,0,0, 0.2);
$color-white: #fff;
$color-default-text: #666;
$color-medium-gray: #eee;
$color-dark-gray: #777;

