<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tag() %>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
  <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/mdc.css") %>"/>
  <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  <title><%= assigns[:page_title] || "RdfTest · Phoenix Framework" %></title>
</head>
  <body>
    <header class="mdc-top-app-bar mdc-top-app-bar--fixed" id="app-bar">
      <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
          <span class="mdc-top-app-bar__title header-title">RDF / SPARQL App</span>
        </section>
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
          <%= link "home", to: Routes.page_path(@conn, :index), class: "material-icons mdc-top-app-bar__action-item mdc-icon-button" %>
          <%= link "view_list", to: Routes.live_path(@conn, RdfTestWeb.QueryLive.Index), class: "material-icons mdc-top-app-bar__action-item mdc-icon-button" %>
        </section>
      </div>
    </header>

    <%= @inner_content %>
  </body>
</html>
