@use '../abstracts/mixins' as mixin;
@use '../abstracts/variables' as var;
@use '../components/buttons' as button;
@use '../themes/default-theme' as theme;

.queries-page {
  position: relative;
  height: 100%;
}

.queries-list {
    width: 100%;
    display: grid;
    grid-template-columns:
      [name-start] minmax(max-content, 20%)
      [name-end query-start] 1fr
      [query-end action-start] max-content [action-end];
    border-radius: var.$radius-sheet;
    background-color: theme.$color-background;
    padding: 2rem 2rem;
    @include mixin.shadow(1);

    &__header {
      font-size: 1.2em;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-bottom: 1rem;
      border-bottom: solid 2px theme.$color-primary;
    }
  
    &__row {
      display: contents;
      font-size: 1.2rem;
    }

    &__item {
      padding: .9rem 1rem 0 1rem;
      border-bottom: solid 1px theme.$color-gray-light-1;
    }
    
    &__name {
      grid-column: name-start / name-end;
    }
    
    &__query {
      grid-column: query-start / query-end;
      white-space: nowrap;
      overflow: hidden;
    }
    
    &__action {
      grid-column: action-start / action-end;
      cursor: default;
    }

    &__row:hover > div {
      background-color:theme.$color-gray-light-2;
      cursor: pointer;
    }

    &__row button {
      visibility: hidden;
    }
    &__row:hover button {
      visibility: visible
    }

    &__row:last-of-type > &__item {
      border-bottom: solid 2px theme.$color-primary;
    }
}

.queries-add {

  @include button.button-popup-round;

  &__background {
    right: button.$right-button-round;
    bottom: button.$bottom-button-round;
    height: button.$diameter-button-round;
    width: button.$diameter-button-round;
    border-radius: 50%;
    position: fixed; // Prevents scroll bars
    background-image: radial-gradient(
      rgba(theme.$color-primary, 0.5),
      rgba(theme.$color-primary, 0.2)
      );
    z-index: 100;
    
    transition: transform button.$time-button-popup-round cubic-bezier(0.83, 0, 0.17, 1);
  }
  
  &__form {
    display: flex;
    align-content: stretch;
    position: fixed;
    right: button.$right-button-round;
    bottom: button.$bottom-button-round;
    height: button.$diameter-button-round;
    width: 40em;
    padding: 2rem;
    background-color: white;
    overflow: hidden;
    z-index: 110;
    @include mixin.shadow(1);
    
    opacity: 0;
    transform-origin: right;
    transform: scale(0%);
    transition: all button.$time-button-popup-round ease-in;
  }

  &__form-name {
    width: 22em;
    height: 1.2em;
    border: none;
    font-size: 1.2em;

    &::placeholder {
      color: theme.$color-primary;
    }
  }

  &__form-submit {
    text-decoration: none;
    color: theme.$color-white;
  }
  
  &__button-checkbox:checked ~ &__background {
    opacity: 1;
  transform: scale(80);
  }
  
  &__button-checkbox:checked ~ &__form {
    opacity: 1;
    transform: scale(100%);
  }

}
