@use '~@material/theme';

.resources {
  padding-left: 2rem;
  position: relative;
  width: 40em;
}

.resource-form {
  display: inline;
}

.resource-list {
  background-color: white;
  list-style-type: none;

  &__item {
    padding-left: 2rem;
    text-align: justify;

    &:hover {
      background-color: yellow;
    }
  }

  &__item-prefix {
    width: 3em;
    border-width: 0;
    background-color: transparent;
  }

  &__item-iri {
    width: 30em;
    border-width: 0;
    background-color: transparent;
  }

  &__item-action {
    // position: absolute;
    // right: 0;
    // text-align: right;
  }

  &__action-button {
  }
}
