@use '../components/buttons' as button;
@use '../abstracts/mixins' as mixin;
@use '../themes/default-theme' as theme;

.resources {
  display: block;

  &__checkbox {
    display: none;
  }
  
  @include button.button-popup;

  &__title {
    font-family: sans-serif;
    font-size: 1.3em;
  }
  
  &__content {
    position: absolute;
    top: 0;
    right: 0;
    width: 40em;
    padding: 2rem;
    background-color: white;
    overflow: hidden;
    z-index: 10;
    @include mixin.shadow(1);
    
    opacity: 1;
    transform-origin: top right;
    transform: scale(0%);
    transition: all 1s ease-in;
  }
  
  &__checkbox:checked ~ &__content {
    opacity: 1;
    transform: scale(100%);
  }
}

.resources-list {
  list-style: none;

  &__list-item {
    display: list-item;

    :hover, :focus {
      background-color: theme.$color-background-highlight;
    }
  }

  &__row {
    display: flex;
    align-content: center;
    padding: 0 1rem;
    
    :hover, :focus {
      background-color: transparent;
    }
  }
  
  &__form {
    display: flex;
    flex-grow: 1;
  }
  
  &__item {
    padding: 0 0rem;
  }

  &__item-prefix {
    flex: 0 0 3em;
    min-width: 0;
    border-width: 0;
    background-color: transparent;
  }
  
  &__item-iri {
    flex: 1 1 auto;
    border-width: 0;
    background-color: transparent;
  }
  
  &__item-save {
    flex: 0 0 1.5em;
    visibility: hidden;
  }
  &__item-delete {
    flex: 0 0 1.5em;
    visibility: hidden;
  }

  &__list-item:hover &__item-save, 
  &__list-item:focus &__item-save {
    visibility: visible;
  }
  &__list-item:hover &__item-delete, 
  &__list-item:focus &__item-delete {
    visibility: visible;
  }

  &__item::placeholder {
    font-style: italic;
    color: theme.$color-primary;
  }
}