@use '../abstracts/mixins' as mixin;
@use '../abstracts/variables' as var;
@use '../themes/default-theme' as theme;

.button-round {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background-color: theme.$color-primary;
  @include mixin.shadow(2);
  
  &__left-bottom {
    left: 0;
    bottom: 5rem;
  }
  
  &__right-bottom {
    right: 0;
    bottom: 5rem;
  }
  
  &__link {
    text-decoration: none;
    font-size: 3em;
    color: black;
  }
}

.button-form {
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.2em;
  border: none;
  border-radius: 10px;
  background-color: theme.$color-primary;
  color: theme.$color-white;
  text-transform: uppercase;
  @include mixin.shadow(1);
}

.button-row-action-icon {
  padding: 0 3px;
  text-decoration: none;
  cursor: pointer;
  border: none;
  color: theme.$color-primary;
  background-color: transparent;
}

@mixin button-popup {
  &__button-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    height: 4rem;
    padding: 0 1.5rem 0 1.5rem;
    border: none;
    border-radius: 2rem;
    background-color: theme.$color-primary;
    @include mixin.shadow(2);
    cursor: pointer;
    z-index: 100;
    
    --button-popup-min-width: 4rem;
    transition: all 1s ease-in;
    
    &-text {
      padding-left: 1rem;
      padding-right: 1rem;
      text-transform: uppercase;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      
      color: theme.$color-white;
      flex: 1;
      transition: all 1s ease-in;
      
      &::before,
      &::after {
        content: '';
        position: absolute;
        height: 2.8rem;
        width: 2px;
        background-color: theme.$color-primary;
        transition: all 1s ease-in;
      }
      &::before {
        left: 1.9rem;
      }
      &::after {
        right: 1.9rem;
      }
    }
  }
  
  &__checkbox:checked + &__button-popup {
    width: var(--button-popup-min-width);
  }
  &__checkbox:checked + &__button-popup &__button-popup-text {
    color: transparent;
    flex: 0;
  }
  &__checkbox:checked + &__button-popup &__button-popup-text::before {
    background-color: theme.$color-dark-gray;
    transform: rotate(135deg);
  }
  &__checkbox:checked + &__button-popup &__button-popup-text::after {
    background-color: theme.$color-dark-gray;
    transform: rotate(-135deg);
  }
}



