@use '../abstracts/mixins' as mixin;
@use '../abstracts/variables' as var;
@use '../themes/default-theme' as theme;

$time-button-popup: 0.5s;
$time-button-popup-round: 0.2s;

$diameter-button-round: 6rem;
$left-button-round: var.$page-padding-horizontal;
$right-button-round: var.$page-padding-horizontal;
$bottom-button-round: 5rem;

.button-form {
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.2em;
  border: none;
  border-radius: 10px;
  background-color: theme.$color-primary;
  color: theme.$color-white;
  text-transform: uppercase;
  @include mixin.shadow(1);
}

.button-row-action-icon {
  padding: 0 3px;
  text-decoration: none;
  cursor: pointer;
  border: none;
  color: theme.$color-primary;
  background-color: transparent;
}

@mixin button-round {
  &__button-round {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: $diameter-button-round;
    width: $diameter-button-round;
    border-radius: 50%;
    background-color: theme.$color-primary;
    cursor: pointer;
    @include mixin.shadow(2);
    
    &--left-bottom {
      left: $left-button-round;
      bottom: 5rem;
    }
    
    &--right-bottom {
      right: $right-button-round;
      bottom: 5rem;
    }
    
    &__link {
      text-decoration: none;
      font-size: 3em;
      color: black;
    }
  }

  &__button-checkbox {
    display: none;
  }
}
@mixin button-popup-round {

  @include button-round;

  &__button-round {
    z-index: 120;
    text-align: center;

    transform: scale(1);
    transition: all $time-button-popup-round ease-in;
  }

  &__button-checkbox {
    display: none;
  }

  &__button-round-icon {
    position: relative;
    
    &,
    &::after {
      display: inline-block;
      height: 2.8rem;
      width: 2px;
      background-color: theme.$color-dark-gray;
      transition: all $time-button-popup-round ease-in;
    }
    &::after {
      content: '';
      position: absolute;
      left: 0;
      transform: rotate(90deg);
    }
  }

  &__button-checkbox:checked + &__button-round {
    transform: scale(0.75);
    @include mixin.shadow(1);
  }

  &__button-checkbox:checked + &__button-round &__button-round-icon {
    transform: rotate(135deg);
  }
  &__button-checkbox:checked + &__button-round &__button-round-icon::after {
    transform: rotate(270deg);
  }
}

@mixin button-popup {
  &__button-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    height: 4rem;
    padding: 0 1.5rem 0 1.5rem;
    border: none;
    border-radius: 2rem;
    background-color: theme.$color-primary;
    @include mixin.shadow(2);
    cursor: pointer;
    z-index: 100;
    
    --button-popup-min-width: 4rem;
    transition: all $time-button-popup ease-in;
    
    &-text {
      padding-left: 1rem;
      padding-right: 1rem;
      text-transform: uppercase;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      
      color: theme.$color-white;
      flex: 1;
      transition: all $time-button-popup ease-in;
      
      &::before,
      &::after {
        content: '';
        position: absolute;
        height: 2.8rem;
        width: 2px;
        background-color: theme.$color-primary;
        transition: all $time-button-popup ease-in;
      }
      &::before {
        left: 1.9rem;
      }
      &::after {
        right: 1.9rem;
      }
    }
  }

  &__button-checkbox {
    display: none;
  }
  
  &__button-checkbox:checked + &__button-popup {
    width: var(--button-popup-min-width);
  }
  &__button-checkbox:checked + &__button-popup &__button-popup-text {
    color: transparent;
    flex: 0;
  }
  &__button-checkbox:checked + &__button-popup &__button-popup-text::before {
    background-color: theme.$color-dark-gray;
    transform: rotate(135deg);
  }
  &__button-checkbox:checked + &__button-popup &__button-popup-text::after {
    background-color: theme.$color-dark-gray;
    transform: rotate(-135deg);
  }
}



