@use '~@material/theme';

@use '~@material/icon-button/mdc-icon-button';
@use '~@material/fab/mdc-fab';

@use '../abstracts/variables' as var;

.fab {
  position: absolute;
  bottom: var.$page-padding-horizontal;

  &__right {
    right: 0rem;
  }

  &__left {
    left: 0rem;
  }

  &__link {
    text-decoration: none;
  }
}