@use '../themes/default-theme' as theme;

// Element should contain &nbsp;
.icon-hamburger {
  position: relative;

  &,
  &::before,
  &::after {
    display: inline-block;
    width: 2.5rem;
    height: 2px;
    background-color: theme.$color-dark-gray;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    transition: all 0.2s;
  }

  &::before {
    top: -0.8rem;
  }

  &::after {
    top: 0.8rem;
  }
}