<%= form_for @resource_changeset, @action, fn f ->  %>
  <%= if @resource_changeset.action do %>
    <div>
      Error!
    </div>
  <% end %>

  <%= text_input f, :prefix, class: "resource-list__item-prefix" %>
  <%= text_input f, :iri, class: "resource-list__item-iri" %>

  <span class="resource-list__item-actions">
    <%= submit "save", class: "mdc-icon-button material-icons resource-list__action-button" %>
    <%= link "delete",
      to: Routes.query_resource_path(@conn, :delete, @query.id, @resource.id),
      method: :delete,
      data: [confirm: "Are you sure?"],
      class: "mdc-icon-button material-icons resource-list__action-button" %>
  </span>
<% end %>


