<span>
  <%= f = form_for @changeset,
    "#",
    [phx_change: :validate,
      phx_submit: :save,
      phx_target: "#resources",
      class: "resource-form"] %>

    <%= text_input f, :prefix, id: "resource_prefix_#{@resource_id}", class: "resource-list__item-prefix" %>
    <%= text_input f, :iri, id: "resource_iri_#{@resource_id}", class: "resource-list__item-iri" %>
    <%= hidden_input f, :resource_id, id: "resource_id_#{@resource_id}", value: @resource_id %>

    <%= submit "save", class: "mdc-icon-button material-icons resource-list__action-button resource-list__item-actions" %>
  </form>

  <button
    phx-click="delete_resource"
    phx-value-id="<%= @resource_id %>"
    phx-target="#resources"
    class="material-icons mdc-icon-button resource-list__item-actions"
  >
    delete
  </button>
</span>
