<div class="resources" id="resources">
  <h2 class="resources__title">Resources</h2>
  <ul class="resources-list">
    <div phx-click="lv:clear-flash">
      <p><%= live_flash(@flash, :info) %></p>
      <p><%= live_flash(@flash, :error) %></p>
    </div>
    <%= for resource <- @resources do %>
      <li
        id="resource-<%= resource.id %>"
        class="resources-list__list-item"
        draggable="true"
        phx-hook="draggable"
      >
        <%= live_component @socket, ResourceLive.Form, resource_id: resource.id %>
      </li>
    <% end %>

    <li class="resources-list__list-item">
        <%= live_component @socket, ResourceLive.Form, resource_id: "new" %>
    </li>
  </ul>
</div>
