<div class="resources">
  <h2 class="resources-title">Resources</h2>
    <ul class="resource-list">
      <%= for resource <- @resources do %>
        <li value=resource.id class="resource-list__item">
          <%= render "form.html", add_changeset_and_actions_to_assigns(assigns, @query, resource) %>
        </li>
      <% end %>

      <li value=resource.id class="resource-list__item">
        <%= form_for empty_resource_changeset(),
          Routes.query_resource_path(@conn, :create, @query.id),
          fn f -> %>
          <%= text_input f, :prefix, class: "resource-list__item-prefix" %>
          <%= text_input f, :iri, class: "resource-list__item-iri" %>

          <span class="resource-list__item-actions">
            <%= submit "save", class: "mdc-icon-button material-icons resource-list__action-button" %>
          </span>
        <% end %>
      </li>
    </ul>

  </div>
</div>


