@use '../abstracts/variables' as var;
@use '../themes/default-theme' as theme;

.header-bar {
  display: flex;
  align-items: center;
  height: 10vh;
  padding-left: var.$page-padding-horizontal;
  padding-right: var.$page-padding-horizontal;
  background-color: theme.$color-primary;
}
.header-title {
  font-size: 2rem;
  color: theme.$color-white;
}

.main-page {
  position: relative;
  height: 90vh;
  padding: var.$page-padding-vertical var.$page-padding-horizontal 0 var.$page-padding-horizontal;
}
