@use '~@material/theme';

@use '~@material/ripple/index';
@use '~@material/top-app-bar/mdc-top-app-bar';
@use '~@material/icon-button/mdc-icon-button';

@use '../abstracts/variables' as var;

.header-title {
  font-size: 2rem;
}

.main-page {
  position: relative;
  height: 85vh;
  background-color: theme.$background;
  padding: var.$page-padding-vertical var.$page-padding-horizontal;
}